<section class="todo">
    <h1>Todo.</h1>
  <div class="todo__create">
      <input placeholder="What's on the agenda?" type="text" name="create">
      <input type="submit" name="create" value="create task">
  </div>

  <div class="todo__list">
    <ul class="todo__entries">
      {{#each tasks}}
        <li class="todo__item" data-completed={{completed}} data-id={{id}}>
          <input class="todo__completed" type="checkbox" {{#if completed}}checked{{/if}}>
          <input class="todo__task" type="text" name="task" value="{{task}}">
          <input class="todo__delete" type="button" name="delete" value="X">
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="todo__controls">
    <input type="button" name="filter-completed" value="view completed">
    <input type="button" name="filter-active" value="view active">
    <input type="button" name="filter-reset" value="view all">
    <input type="button" name="clear" value="clear">
  </div>
</section>