<section class="todo">
    <h1>Todo.</h1>
  <div class="todo__create">
      <input placeholder="What's on the agenda?" type="text" id="create" name="create" id="">
      <input type="submit" name="create" value="create task">
  </div>

  <div class="todo__list">
    <ul class="todo__entries">
      {{#each tasks}}
        <li class="todo__item" data-completed={{completed}} data-id={{id}}>
          <input class="todo__completed" type="checkbox" {{#if completed}}checked{{/if}}>
          <input class="todo__task" type="text" name="task" value="{{task}}">
          <input class="todo__delete" type="button" name="delete" value="X">
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="todo__controls">
    <input type="button" name="filter-active" value="active">
    <input type="button" name="filter-completed" value="completed">
    <input type="button" name="filter-all" value="show all">
    <input type="button" name="clear" value="clear">
  </div>
  <div class="copy">
<a href="https://github.com/amin/todo-mvc-vanilla-js" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"/></svg>@amin</a>
</div>
</section>