$base-color: #1c2c2e
$element-color: #47757A
$border-color: #22383B
$check-color: $border-color

body
    background: $base-color

.todo
    .copy
        display: flex
        justify-content: center
        a
            svg
                vertical-align: middle
                margin-right: .5em
            font-size: 1.1em
            text-decoration: none
            color: #22383B
            letter-spacing: 1.5px
            &:hover
                text-decoration: underline
    h1
        color: $base-color
    margin: 1em 1em
    max-width: 500px
    padding: 1em
    background: $element-color
    border-radius: 0.25em
    input
        background: none
        border: 0
        outline: 0
        font:
            size: 1.1em
            weight: 400
.todo__create
    display: flex
    flex-direction: column
    margin: 1.5em 0
    input[type="text"]
        width: 100%
        border-radius: 0
        letter-spacing: 1.5px
        padding: 0.5em 0
        color: #fff
        border-bottom: 1px solid $border-color
        margin-right: 1em
        position: relative
        &:focus
            border-bottom: 1px solid #72a6ad
        &::placeholder
            font-size: 1.1em
            font-weight: 400
            letter-spacing: 1.5px
            color: #2f494c
    input[type="submit"]
        -webkit-appearance: none
        border-radius: 4px
        padding: 0.75em
        margin-top: 1em
        text-transform: lowercase
        letter-spacing: 1.5px
        background: #22383B
        color: #fff
        cursor: pointer
        @media (hover: hover)
            &:hover
                background: $base-color

.todo__entries
    list-style-type: none
    padding: 0
    margin: 1em 0
    display: flex
    flex-direction: column

.todo__item
    display: flex
    padding: 1em 0.5em
    input
        outline: 0
        font-weight: 300
        color: #fff
.todo__item .todo__
    &completed
        position: relative
        cursor: pointer
        visibility: hidden
        align-self: center
        min-width: 30px
        min-height: 30px
        &::before
            visibility: visible
            position: absolute
            content: ""
            background: $check-color
            border-radius: 4px
            inset: 0
            opacity: 1 
        &:hover
            &::before
                background: $base-color   
        &:checked
            &+input[type="text"]
                text-decoration: line-through
            &::after
                transform: translate(-3px, -10px)
                visibility: visible
                position: absolute
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='limegreen' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E")
                inset: 0

    &task
        width: 100%
        background: none
        border-bottom: 1px solid $border-color
        margin: 0 .5em
        border-radius: 0
        font-size: 1.1em
        font-weight: 400
        letter-spacing: 1.5px
        &:focus
            border-bottom: 1px solid #72a6ad
    &delete
        margin: 0
        padding: 0.25em 0
        cursor: pointer
        color: #882828
        &:hover
            color: #5d1111
        font:
            size: 1.5em
            weight: 500
.todo__controls
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    position: relative
    margin-top: 3em
    &::before
        content: "Filters"
        position: absolute
        color: #1c2c2e
        letter-spacing: 2px
        text-transform: uppercase
        top: -2em
        font-size: 1em

    input
        background: $check-color
        border-radius: 4px
        opacity: 0.7
        width: 40%
        flex-grow: 1
        margin: 0 0.5em
        height: 40px
        cursor: pointer
        letter-spacing: 1.5px
        margin-bottom: 1em
        &.active
            opacity: 1
        &[name="clear"]
            width: 100%
            opacity: 1
            background: #882828
            &:hover
                background: #5d1111
        @media (hover: hover)
            &:hover
                background: $base-color
        font:
            size: 1.1em
            font-weight: 400
        color: #fff
        &:hover
            color: #fff
